
000. 1차 플젝/dataset/prodcat_final.pkl
000. 1차 플젝/dataset/PURPRD/Copy of PURPRD_2014_A_DATA_TABLE.csv
000. 1차 플젝/dataset/PURPRD/Copy of PURPRD_2014_B_DATA_TABLE.csv
000. 1차 플젝/dataset/PURPRD/Copy of PURPRD_2014_C_DATA_TABLE.csv
000. 1차 플젝/dataset/PURPRD/Copy of PURPRD_2014_D_DATA_TABLE.csv
000. 1차 플젝/dataset/PURPRD/Copy of PURPRD_2015_A_DATA_TABLE.csv
000. 1차 플젝/dataset/PURPRD/Copy of PURPRD_2015_B_DATA_TABLE.csv
*.csv
000. 1차 플젝/dataset/PURPRD/구매_거주_A
000. 1차 플젝/dataset/PURPRD/구매_거주_B
000. 1차 플젝/dataset/PURPRD/구매_거주_C
000. 1차 플젝/dataset/PURPRD/구매_거주_D
000. 1차 플젝/dataset/purprd_region.pkl
000. 1차 플젝/dataset/purprd_region.pkl
000. 1차 플젝/dataset/purprd_s/prodcat_final.pkl
000. 1차 플젝/dataset/purprd_s/purprd_prodcat.pkl
000. 1차 플젝/dataset/purprd_s/대분류수정기준표.pkl
000. 1차 플젝/dataset/purprd_제휴사/purprd_B.pkl
000. 1차 플젝/dataset/purprd_제휴사/purprd_A.pkl
000. 1차 플젝/dataset/purprd_제휴사/purprd_C.pkl
000. 1차 플젝/dataset/purprd_제휴사/purprd_D.pkl
000. 1차 플젝/dataset/txt/경쟁사이용.txt
000. 1차 플젝/dataset/txt/고객DEMO.txt
000. 1차 플젝/dataset/구매상품TR.txt
000. 1차 플젝/dataset/대분류수정기준표.pkl
000. 1차 플젝/dataset/대분류코드_rate.pkl
000. 1차 플젝/dataset/상품분류.txt
000. 1차 플젝/dataset/멤버십여부.txt
000. 1차 플젝/dataset/연도별전체매출액.pkl
000. 1차 플젝/dataset/제휴사별_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/A_대분류코드_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/A_전체_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/A_중분류명_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/B_대분류코드_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/B_전체_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/B_중분류명_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/C_대분류코드_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/C_전체_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/C_중분류명_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/D_대분류코드_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/D_전체_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/D_중분류명_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate/전체구매.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/A_대분류코드_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/A_전체_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/A_중분류명_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/B_대분류코드_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/B_전체_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/B_중분류명_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/C_대분류코드_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/C_전체_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/C_중분류명_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/D_대분류코드_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/D_전체_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/D_중분류명_rate.pkl
000. 1차 플젝/dataset/제휴사별_rate_1-24/전체구매.pkl
000. 1차 플젝/dataset/채널이용.txt
08. database/dataset/경쟁사이용.txt
08. database/dataset/고객DEMO.txt
*.txt
000. 1차 플젝/dataset/purprd_cust.pkl
000. 1차 플젝/dataset/purprd_대분류명11.pkl
000. 1차 플젝/dataset/purprd_대분류명11_.pkl
000. 2차 플젝/001_M.jpg
000. 2차 플젝/yolov5/
000. 2차 플젝/boneage/img_save/20211108_141245.jpg
