
미니 팀플/dataset/새 폴더 (2)/2020년 서울시 차량속도보고서.pdf
db/dataset/titanic3.csv
db/dataset/경쟁사이용.txt
db/dataset/고객DEMO.txt
db/dataset/구매상품TR.txt
db/dataset/멤버십여부.txt
db/dataset/상품분류.txt
db/dataset/채널이용.txt
AUTO_attendence_CHECK_Program/
머신러닝/dataset/house_df.pkl
머신러닝/dataset/tdf1.pkl
머신러닝/dataset/creditcard.csv
머신러닝_스터디/datasets/housing/housing.tgz
미니 팀플2/dataset/RDD2020_data.tar.gz
1차 플젝/.ipynb_checkpoints/데이터확인-checkpoint.ipynb
1차 플젝/.ipynb_checkpoints/데이터확인-checkpoint.ipynb
1차 플젝/.ipynb_checkpoints/데이터확인-checkpoint.ipynb
1차 플젝/dataset/PURPRD/Copy of PURPRD_2014_A_DATA_TABLE.csv
1차 플젝/.ipynb_checkpoints/데이터확인-checkpoint.ipynb
*.ipynb
*.ipynb
*.ipynb
